<!DOCTYPE html>
{% extends 'base.html' %}
{% load recommended %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {{block.super}}| Home {% endblock title %}</title>
</head>
    {% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}



{% block content %}



    <div class='row'>

        <div class='col-m-5 col-sm-4 col-xs-12' >
        <h1>{{ request.user }}</h1>
            <hr/>

        <p class="lead">Similar Profiles</p>
             {% recommended request.user %}
        </div>

        <div class='col-m-7 col-sm-8 '>
             {% if not request.GET.q %}
                <div class=''>

                    {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}

                </div>
                <hr/>
            {% endif %}

          <div id='tweet-container' data-url='/api/tweet/'>

          </div>
          <a href='#' id='loadmore'>Load More Tweets</a>


        </div>

    </div>


{% endblock content %}>

</html>