<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {{block.super}}| Home {% endblock title %}</title>
</head>
    {% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}



{% block content %}

<div class='row container'>
        {% if request.GET.q %}
        <p class="lead">Results for {{ request.GET.q }}</p>
        </hr>
        {% endif %}
    <div class='col-m-7 col-sm-8 '>
        <h1>Tweets</h1>
        </hr>
        <div id='tweet-container' data-url='/api/search/'>
        </div>
        <a href='#' id='loadmore'>Load More Tweets</a>
    </div>

    <div class='col-m-5 col-sm-4 col-xs-12' >
        <h1>Users</h1>
        {% for user in users %}
            <a href="/{{ user.username }}/">{{ user.username }}</a><br/>
        {% empty %}
            <p>No users found</p>
        {% endfor %}

    </div>

</div>


{% endblock content %}>

</html>